html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif !important;
}

.red-text {
  color: red !important;
}

.red-bg {
  background-color: red !important;
}

.blue-text {
  color: blue !important;
}

.blue-bg {
  background-color: blue !important;
}

.yellow-text {
  color: yellow !important;
}

.yellow-bg {
  background-color: yellow !important;
}

.green-text {
  color: green !important;
}

.green-bg {
  background-color: green !important;
}

.black-text {
  color: black !important;
}

.black-bg {
  background-color: black !important;
}

.pink-text {
  color: pink !important;
}

.pink-bg {
  background-color: pink !important;
}

.purple-text {
  color: purple !important;
}

.purple-bg {
  background-color: purple !important;
}

.orange-text {
  color: orange !important;
}

.orange-bg {
  background-color: orange !important;
}

.brown-text {
  color: brown !important;
}

.brown-bg {
  background-color: brown !important;
}

.white-text {
  color: white !important;
}

.white-bg {
  background-color: white !important;
}

.silver-text {
  color: silver !important;
}

.silver-bg {
  background-color: silver !important;
}

.grey-text {
  color: grey !important;
}

.grey-bg {
  background-color: grey !important;
}

.border-top-0 {
  border-top: 0rem;
}

.border-top-1 {
  border-top: 0.1rem;
}

.border-top-2 {
  border-top: 0.2rem;
}

.border-top-3 {
  border-top: 0.3rem;
}

.border-top-4 {
  border-top: 0.4rem;
}

.border-top-5 {
  border-top: 0.5rem;
}

.border-top-6 {
  border-top: 0.6rem;
}

.border-top-7 {
  border-top: 0.7rem;
}

.border-top-8 {
  border-top: 0.8rem;
}

.border-top-9 {
  border-top: 0.9rem;
}

.border-top-10 {
  border-top: 1rem;
}

.border-top-11 {
  border-top: 1.1rem;
}

.border-top-12 {
  border-top: 1.2rem;
}

.border-top-13 {
  border-top: 1.3rem;
}

.border-top-14 {
  border-top: 1.4rem;
}

.border-top-15 {
  border-top: 1.5rem;
}

.border-top-16 {
  border-top: 1.6rem;
}

.border-top-17 {
  border-top: 1.7rem;
}

.border-top-18 {
  border-top: 1.8rem;
}

.border-top-19 {
  border-top: 1.9rem;
}

.border-top-20 {
  border-top: 2rem;
}

.border-right-0 {
  border-right: 0rem;
}

.border-right-1 {
  border-right: 0.1rem;
}

.border-right-2 {
  border-right: 0.2rem;
}

.border-right-3 {
  border-right: 0.3rem;
}

.border-right-4 {
  border-right: 0.4rem;
}

.border-right-5 {
  border-right: 0.5rem;
}

.border-right-6 {
  border-right: 0.6rem;
}

.border-right-7 {
  border-right: 0.7rem;
}

.border-right-8 {
  border-right: 0.8rem;
}

.border-right-9 {
  border-right: 0.9rem;
}

.border-right-10 {
  border-right: 1rem;
}

.border-right-11 {
  border-right: 1.1rem;
}

.border-right-12 {
  border-right: 1.2rem;
}

.border-right-13 {
  border-right: 1.3rem;
}

.border-right-14 {
  border-right: 1.4rem;
}

.border-right-15 {
  border-right: 1.5rem;
}

.border-right-16 {
  border-right: 1.6rem;
}

.border-right-17 {
  border-right: 1.7rem;
}

.border-right-18 {
  border-right: 1.8rem;
}

.border-right-19 {
  border-right: 1.9rem;
}

.border-right-20 {
  border-right: 2rem;
}

.border-bottom-0 {
  border-bottom: 0rem;
}

.border-bottom-1 {
  border-bottom: 0.1rem;
}

.border-bottom-2 {
  border-bottom: 0.2rem;
}

.border-bottom-3 {
  border-bottom: 0.3rem;
}

.border-bottom-4 {
  border-bottom: 0.4rem;
}

.border-bottom-5 {
  border-bottom: 0.5rem;
}

.border-bottom-6 {
  border-bottom: 0.6rem;
}

.border-bottom-7 {
  border-bottom: 0.7rem;
}

.border-bottom-8 {
  border-bottom: 0.8rem;
}

.border-bottom-9 {
  border-bottom: 0.9rem;
}

.border-bottom-10 {
  border-bottom: 1rem;
}

.border-bottom-11 {
  border-bottom: 1.1rem;
}

.border-bottom-12 {
  border-bottom: 1.2rem;
}

.border-bottom-13 {
  border-bottom: 1.3rem;
}

.border-bottom-14 {
  border-bottom: 1.4rem;
}

.border-bottom-15 {
  border-bottom: 1.5rem;
}

.border-bottom-16 {
  border-bottom: 1.6rem;
}

.border-bottom-17 {
  border-bottom: 1.7rem;
}

.border-bottom-18 {
  border-bottom: 1.8rem;
}

.border-bottom-19 {
  border-bottom: 1.9rem;
}

.border-bottom-20 {
  border-bottom: 2rem;
}

.border-left-0 {
  border-left: 0rem;
}

.border-left-1 {
  border-left: 0.1rem;
}

.border-left-2 {
  border-left: 0.2rem;
}

.border-left-3 {
  border-left: 0.3rem;
}

.border-left-4 {
  border-left: 0.4rem;
}

.border-left-5 {
  border-left: 0.5rem;
}

.border-left-6 {
  border-left: 0.6rem;
}

.border-left-7 {
  border-left: 0.7rem;
}

.border-left-8 {
  border-left: 0.8rem;
}

.border-left-9 {
  border-left: 0.9rem;
}

.border-left-10 {
  border-left: 1rem;
}

.border-left-11 {
  border-left: 1.1rem;
}

.border-left-12 {
  border-left: 1.2rem;
}

.border-left-13 {
  border-left: 1.3rem;
}

.border-left-14 {
  border-left: 1.4rem;
}

.border-left-15 {
  border-left: 1.5rem;
}

.border-left-16 {
  border-left: 1.6rem;
}

.border-left-17 {
  border-left: 1.7rem;
}

.border-left-18 {
  border-left: 1.8rem;
}

.border-left-19 {
  border-left: 1.9rem;
}

.border-left-20 {
  border-left: 2rem;
}

.border-all-0 {
  border: 0rem;
}

.border-all-1 {
  border: 0.1rem;
}

.border-all-2 {
  border: 0.2rem;
}

.border-all-3 {
  border: 0.3rem;
}

.border-all-4 {
  border: 0.4rem;
}

.border-all-5 {
  border: 0.5rem;
}

.border-all-6 {
  border: 0.6rem;
}

.border-all-7 {
  border: 0.7rem;
}

.border-all-8 {
  border: 0.8rem;
}

.border-all-9 {
  border: 0.9rem;
}

.border-all-10 {
  border: 1rem;
}

.border-all-11 {
  border: 1.1rem;
}

.border-all-12 {
  border: 1.2rem;
}

.border-all-13 {
  border: 1.3rem;
}

.border-all-14 {
  border: 1.4rem;
}

.border-all-15 {
  border: 1.5rem;
}

.border-all-16 {
  border: 1.6rem;
}

.border-all-17 {
  border: 1.7rem;
}

.border-all-18 {
  border: 1.8rem;
}

.border-all-19 {
  border: 1.9rem;
}

.border-all-20 {
  border: 2rem;
}

.rounded-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rounded-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded {
  border-radius: 10px;
}

.rounded-0 {
  border-radius: 0 !important;
}

.box-circular {
  border-radius: 50%;
}

.text-horizontal-right {
  text-align: right !important;
}

.text-horizontal-left {
  text-align: left !important;
}

.text-horizontal-center {
  text-align: center !important;
}

.font-size-1 {
  font-size: 0.25rem !important;
}

.font-size-2 {
  font-size: 0.5rem !important;
}

.font-size-3 {
  font-size: 0.75rem !important;
}

.font-size-4 {
  font-size: 1rem !important;
}

.font-size-5 {
  font-size: 1.25rem !important;
}

.font-size-6 {
  font-size: 1.5rem !important;
}

.font-size-7 {
  font-size: 1.75rem !important;
}

.font-size-8 {
  font-size: 2rem !important;
}

.font-size-9 {
  font-size: 2.25rem !important;
}

.font-size-10 {
  font-size: 2.5rem !important;
}

.font-size-11 {
  font-size: 2.75rem !important;
}

.font-size-12 {
  font-size: 3rem !important;
}

.font-size-13 {
  font-size: 3.25rem !important;
}

.font-size-14 {
  font-size: 3.5rem !important;
}

.font-size-15 {
  font-size: 3.75rem !important;
}

.font-size-16 {
  font-size: 4rem !important;
}

.font-size-17 {
  font-size: 4.25rem !important;
}

.font-size-18 {
  font-size: 4.5rem !important;
}

.font-size-19 {
  font-size: 4.75rem !important;
}

.font-size-20 {
  font-size: 5rem !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-bolder {
  font-weight: 900 !important;
}

.font-weight-light {
  font-weight: 100 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.row:after {
  display: block;
  clear: both;
  content: '';
}

.row + .row {
  margin-top: 3%;
}

@media (max-width: 720px) {
  .row + .row {
    margin-top: 0;
  }
  .mobile-block {
    float: none !important;
    width: 100% !important;
    margin-top: 3%;
  }
  .col-sm-none {
    display: none !important;
  }
  .col-sm-1 {
    width: 5.58333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-1:last-child {
    margin-right: 0%;
  }
  .col-sm-2 {
    width: 14.16667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-2:last-child {
    margin-right: 0%;
  }
  .col-sm-3 {
    width: 22.75%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-3:last-child {
    margin-right: 0%;
  }
  .col-sm-4 {
    width: 31.33333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-4:last-child {
    margin-right: 0%;
  }
  .col-sm-5 {
    width: 39.91667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-5:last-child {
    margin-right: 0%;
  }
  .col-sm-6 {
    width: 48.5%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-6:last-child {
    margin-right: 0%;
  }
  .col-sm-7 {
    width: 57.08333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-7:last-child {
    margin-right: 0%;
  }
  .col-sm-8 {
    width: 65.66667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-8:last-child {
    margin-right: 0%;
  }
  .col-sm-9 {
    width: 74.25%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-9:last-child {
    margin-right: 0%;
  }
  .col-sm-10 {
    width: 82.83333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-10:last-child {
    margin-right: 0%;
  }
  .col-sm-11 {
    width: 91.41667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-11:last-child {
    margin-right: 0%;
  }
  .col-sm-12 {
    width: 100%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-sm-12:last-child {
    margin-right: 0%;
  }
}

@media (min-width: 721px) {
  .col-md-none {
    display: none !important;
  }
  .col-md-1 {
    width: 5.58333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-1:last-child {
    margin-right: 0%;
  }
  .col-md-2 {
    width: 14.16667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-2:last-child {
    margin-right: 0%;
  }
  .col-md-3 {
    width: 22.75%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-3:last-child {
    margin-right: 0%;
  }
  .col-md-4 {
    width: 31.33333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-4:last-child {
    margin-right: 0%;
  }
  .col-md-5 {
    width: 39.91667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-5:last-child {
    margin-right: 0%;
  }
  .col-md-6 {
    width: 48.5%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-6:last-child {
    margin-right: 0%;
  }
  .col-md-7 {
    width: 57.08333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-7:last-child {
    margin-right: 0%;
  }
  .col-md-8 {
    width: 65.66667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-8:last-child {
    margin-right: 0%;
  }
  .col-md-9 {
    width: 74.25%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-9:last-child {
    margin-right: 0%;
  }
  .col-md-10 {
    width: 82.83333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-10:last-child {
    margin-right: 0%;
  }
  .col-md-11 {
    width: 91.41667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-11:last-child {
    margin-right: 0%;
  }
  .col-md-12 {
    width: 100%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-md-12:last-child {
    margin-right: 0%;
  }
}

@media (min-width: 1024px) {
  .col-lg-none {
    display: none !important;
  }
  .col-lg-1 {
    width: 5.58333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-1:last-child {
    margin-right: 0%;
  }
  .col-lg-2 {
    width: 14.16667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-2:last-child {
    margin-right: 0%;
  }
  .col-lg-3 {
    width: 22.75%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-3:last-child {
    margin-right: 0%;
  }
  .col-lg-4 {
    width: 31.33333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-4:last-child {
    margin-right: 0%;
  }
  .col-lg-5 {
    width: 39.91667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-5:last-child {
    margin-right: 0%;
  }
  .col-lg-6 {
    width: 48.5%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-6:last-child {
    margin-right: 0%;
  }
  .col-lg-7 {
    width: 57.08333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-7:last-child {
    margin-right: 0%;
  }
  .col-lg-8 {
    width: 65.66667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-8:last-child {
    margin-right: 0%;
  }
  .col-lg-9 {
    width: 74.25%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-9:last-child {
    margin-right: 0%;
  }
  .col-lg-10 {
    width: 82.83333%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-10:last-child {
    margin-right: 0%;
  }
  .col-lg-11 {
    width: 91.41667%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-11:last-child {
    margin-right: 0%;
  }
  .col-lg-12 {
    width: 100%;
    float: left;
    padding: 30px;
    margin-right: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .col-lg-12:last-child {
    margin-right: 0%;
  }
}

.col-1 {
  width: 5.58333%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1:last-child {
  margin-right: 0%;
}

.col-2 {
  width: 14.16667%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-2:last-child {
  margin-right: 0%;
}

.col-3 {
  width: 22.75%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-3:last-child {
  margin-right: 0%;
}

.col-4 {
  width: 31.33333%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-4:last-child {
  margin-right: 0%;
}

.col-5 {
  width: 39.91667%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-5:last-child {
  margin-right: 0%;
}

.col-6 {
  width: 48.5%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-6:last-child {
  margin-right: 0%;
}

.col-7 {
  width: 57.08333%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-7:last-child {
  margin-right: 0%;
}

.col-8 {
  width: 65.66667%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-8:last-child {
  margin-right: 0%;
}

.col-9 {
  width: 74.25%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-9:last-child {
  margin-right: 0%;
}

.col-10 {
  width: 82.83333%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-10:last-child {
  margin-right: 0%;
}

.col-11 {
  width: 91.41667%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-11:last-child {
  margin-right: 0%;
}

.col-12 {
  width: 100%;
  float: left;
  padding: 30px;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-12:last-child {
  margin-right: 0%;
}

.p-0 {
  padding: 0rem !important;
}

.p-x-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.p-y-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.p-top-0 {
  padding-top: 0rem !important;
}

.p-bottom-0 {
  padding-bottom: 0rem !important;
}

.p-right-0 {
  padding-right: 0rem !important;
}

.p-left-0 {
  padding-left: 0rem !important;
}

.m-0 {
  margin: 0rem !important;
}

.m-x-0 {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.m-y-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.m-top-0 {
  margin-top: 0rem !important;
}

.m-bottom-0 {
  margin-bottom: 0rem !important;
}

.m-right-0 {
  margin-right: 0rem !important;
}

.m-left-0 {
  margin-left: 0rem !important;
}

.p-1 {
  padding: 0.5rem !important;
}

.p-x-1 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.p-y-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p-top-1 {
  padding-top: 0.5rem !important;
}

.p-bottom-1 {
  padding-bottom: 0.5rem !important;
}

.p-right-1 {
  padding-right: 0.5rem !important;
}

.p-left-1 {
  padding-left: 0.5rem !important;
}

.m-1 {
  margin: 0.5rem !important;
}

.m-x-1 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.m-y-1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m-top-1 {
  margin-top: 0.5rem !important;
}

.m-bottom-1 {
  margin-bottom: 0.5rem !important;
}

.m-right-1 {
  margin-right: 0.5rem !important;
}

.m-left-1 {
  margin-left: 0.5rem !important;
}

.p-2 {
  padding: 1rem !important;
}

.p-x-2 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.p-y-2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p-top-2 {
  padding-top: 1rem !important;
}

.p-bottom-2 {
  padding-bottom: 1rem !important;
}

.p-right-2 {
  padding-right: 1rem !important;
}

.p-left-2 {
  padding-left: 1rem !important;
}

.m-2 {
  margin: 1rem !important;
}

.m-x-2 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.m-y-2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-top-2 {
  margin-top: 1rem !important;
}

.m-bottom-2 {
  margin-bottom: 1rem !important;
}

.m-right-2 {
  margin-right: 1rem !important;
}

.m-left-2 {
  margin-left: 1rem !important;
}

.p-3 {
  padding: 1.5rem !important;
}

.p-x-3 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.p-y-3 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p-top-3 {
  padding-top: 1.5rem !important;
}

.p-bottom-3 {
  padding-bottom: 1.5rem !important;
}

.p-right-3 {
  padding-right: 1.5rem !important;
}

.p-left-3 {
  padding-left: 1.5rem !important;
}

.m-3 {
  margin: 1.5rem !important;
}

.m-x-3 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.m-y-3 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m-top-3 {
  margin-top: 1.5rem !important;
}

.m-bottom-3 {
  margin-bottom: 1.5rem !important;
}

.m-right-3 {
  margin-right: 1.5rem !important;
}

.m-left-3 {
  margin-left: 1.5rem !important;
}

.p-4 {
  padding: 2rem !important;
}

.p-x-4 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.p-y-4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.p-top-4 {
  padding-top: 2rem !important;
}

.p-bottom-4 {
  padding-bottom: 2rem !important;
}

.p-right-4 {
  padding-right: 2rem !important;
}

.p-left-4 {
  padding-left: 2rem !important;
}

.m-4 {
  margin: 2rem !important;
}

.m-x-4 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.m-y-4 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.m-top-4 {
  margin-top: 2rem !important;
}

.m-bottom-4 {
  margin-bottom: 2rem !important;
}

.m-right-4 {
  margin-right: 2rem !important;
}

.m-left-4 {
  margin-left: 2rem !important;
}

.p-5 {
  padding: 2.5rem !important;
}

.p-x-5 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.p-y-5 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.p-top-5 {
  padding-top: 2.5rem !important;
}

.p-bottom-5 {
  padding-bottom: 2.5rem !important;
}

.p-right-5 {
  padding-right: 2.5rem !important;
}

.p-left-5 {
  padding-left: 2.5rem !important;
}

.m-5 {
  margin: 2.5rem !important;
}

.m-x-5 {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
}

.m-y-5 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.m-top-5 {
  margin-top: 2.5rem !important;
}

.m-bottom-5 {
  margin-bottom: 2.5rem !important;
}

.m-right-5 {
  margin-right: 2.5rem !important;
}

.m-left-5 {
  margin-left: 2.5rem !important;
}

.p-6 {
  padding: 3rem !important;
}

.p-x-6 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.p-y-6 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.p-top-6 {
  padding-top: 3rem !important;
}

.p-bottom-6 {
  padding-bottom: 3rem !important;
}

.p-right-6 {
  padding-right: 3rem !important;
}

.p-left-6 {
  padding-left: 3rem !important;
}

.m-6 {
  margin: 3rem !important;
}

.m-x-6 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.m-y-6 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.m-top-6 {
  margin-top: 3rem !important;
}

.m-bottom-6 {
  margin-bottom: 3rem !important;
}

.m-right-6 {
  margin-right: 3rem !important;
}

.m-left-6 {
  margin-left: 3rem !important;
}

.p-7 {
  padding: 3.5rem !important;
}

.p-x-7 {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

.p-y-7 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}

.p-top-7 {
  padding-top: 3.5rem !important;
}

.p-bottom-7 {
  padding-bottom: 3.5rem !important;
}

.p-right-7 {
  padding-right: 3.5rem !important;
}

.p-left-7 {
  padding-left: 3.5rem !important;
}

.m-7 {
  margin: 3.5rem !important;
}

.m-x-7 {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.m-y-7 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.m-top-7 {
  margin-top: 3.5rem !important;
}

.m-bottom-7 {
  margin-bottom: 3.5rem !important;
}

.m-right-7 {
  margin-right: 3.5rem !important;
}

.m-left-7 {
  margin-left: 3.5rem !important;
}

.p-8 {
  padding: 4rem !important;
}

.p-x-8 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.p-y-8 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.p-top-8 {
  padding-top: 4rem !important;
}

.p-bottom-8 {
  padding-bottom: 4rem !important;
}

.p-right-8 {
  padding-right: 4rem !important;
}

.p-left-8 {
  padding-left: 4rem !important;
}

.m-8 {
  margin: 4rem !important;
}

.m-x-8 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.m-y-8 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.m-top-8 {
  margin-top: 4rem !important;
}

.m-bottom-8 {
  margin-bottom: 4rem !important;
}

.m-right-8 {
  margin-right: 4rem !important;
}

.m-left-8 {
  margin-left: 4rem !important;
}

.p-9 {
  padding: 4.5rem !important;
}

.p-x-9 {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}

.p-y-9 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.p-top-9 {
  padding-top: 4.5rem !important;
}

.p-bottom-9 {
  padding-bottom: 4.5rem !important;
}

.p-right-9 {
  padding-right: 4.5rem !important;
}

.p-left-9 {
  padding-left: 4.5rem !important;
}

.m-9 {
  margin: 4.5rem !important;
}

.m-x-9 {
  margin-left: 4.5rem !important;
  margin-right: 4.5rem !important;
}

.m-y-9 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
}

.m-top-9 {
  margin-top: 4.5rem !important;
}

.m-bottom-9 {
  margin-bottom: 4.5rem !important;
}

.m-right-9 {
  margin-right: 4.5rem !important;
}

.m-left-9 {
  margin-left: 4.5rem !important;
}

.p-10 {
  padding: 5rem !important;
}

.p-x-10 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.p-y-10 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.p-top-10 {
  padding-top: 5rem !important;
}

.p-bottom-10 {
  padding-bottom: 5rem !important;
}

.p-right-10 {
  padding-right: 5rem !important;
}

.p-left-10 {
  padding-left: 5rem !important;
}

.m-10 {
  margin: 5rem !important;
}

.m-x-10 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.m-y-10 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.m-top-10 {
  margin-top: 5rem !important;
}

.m-bottom-10 {
  margin-bottom: 5rem !important;
}

.m-right-10 {
  margin-right: 5rem !important;
}

.m-left-10 {
  margin-left: 5rem !important;
}

h1 {
  font-size: 2.25rem;
  font-weight: 100;
  letter-spacing: 0.4px;
}

h2 {
  color: #4a4a4a;
}

h3 {
  color: #4a4a4a;
}

h4 {
  color: #4a4a4a;
}

h5 {
  color: #4a4a4a;
}

h6 {
  color: #4a4a4a;
}

.badges {
  background: #f3f3f3;
}

.badges .row {
  margin-right: 15.88562%;
  margin-left: 15.88562%;
}

.badges .row .col-4 {
  background: #fff;
  padding: 23px 46px 25px 46px;
  -webkit-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
  height: 256px;
}

.badges .row .col-4 img {
  width: 62.99213%;
  height: 62.99213%;
}

.badges .signin a {
  margin-top: 40px;
  margin-bottom: 60px;
  background: #cc9543 !important;
}

.gradient .student {
  padding-top: 16px;
}

.gradient .description {
  margin-left: 16px;
}

.milonga {
  font-family: 'Milonga', cursive !important;
}

footer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 277px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.color-gold {
  color: #cc9543;
}

.button {
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  text-align: center;
  text-decoration: none;
  border: none;
  background: #6abfc3;
}

.img-fix {
  height: 155px;
}

.text-align {
  text-align: center;
}

.center-block {
  margin-right: 26.17156%;
  margin-left: 26.17156%;
}

.tile-center {
  margin-right: 7.10882%;
  margin-left: 7.10882%;
}

.footer-column {
  width: 130px;
  height: 90px;
}

.flex-basis {
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
}

p {
  color: rgba(74, 74, 74, 0.7);
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 1.88;
  font-weight: 100;
}

.subtitle {
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  line-height: 1.2;
}

.mute-title {
  font-size: 2.2em;
  line-height: 1.5em;
  margin: 0 auto 1rem;
  max-width: 25em;
  padding-top: 80px;
  margin-bottom: 40px;
}

.mute-text {
  color: rgba(74, 74, 74, 0.7);
}

.gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: linear-gradient(to bottom, #fff, #eee);
}

.logo-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #cc9543;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 1.6em;
  display: inline-block;
  padding-left: 0.5em;
}

.logo-name {
  margin-top: 1em;
  text-decoration: none;
}

.text-decoration-none {
  text-decoration: none;
}

.round-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-list ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
}

.navbar-list ul li {
  margin-right: 8%;
}
/*# sourceMappingURL=style.css.map */